{% extends 'base.html.twig' %}
{% block title %}Aulas FCVS{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style>
	{% if not is_mobile %}
	body{
		background-image: url("{{ asset('image/fcvs_uader_publica.jpg') }}");
		background-repeat: no-repeat;
		background-attachment: fixed;  
		background-size: 100%;
	}
	{% endif %}
	</style>
{% endblock %}
{% block cardheader %}
{% if is_mobile %}
	<h5 class="text-center">Bienvenido</h2>
	<h6 class="text-center">Aquí podrá consultar la ocupación de los diferentes espacios de la Facultad, sus actividades y horarios. Disponible para estudiantes y docentes registrados.</h5>	
{% else %}		
	<h4 class="text-center text-white">Bienvenido</h2>
	<h5 class="text-center text-white">Aquí podrá consultar la ocupación de los diferentes espacios de la Facultad, sus actividades y horarios. Disponible para estudiantes y docentes registrados.</h5>
{% endif %}
{% endblock %}
{% block cardbody %}
	<div class="container-sm">		
		<div class="text-center">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<span>Usuario: {{ app.user.username }}</span>
			{% else %}
				<a class="btn btn-success btn-lg" href="{{ path('app_login') }}" role="button">Ingresar</a>
			{% endif %}
		</div>
	</div>
{% endblock %}