<form method="post" action="{{ path('catedras_delete', {'id': catedra.id}) }}" onsubmit="return confirm('¿Borrar Cátedra?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ catedra.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
