<div class="container">
	<div class="card text-center">
		<div class="card-body">
			{{ form_start(form) }}
			<div class="input-group mb-3">
				<div class="input-group mb-3">
                    <span class="input-group-text">Cátedra</span>
					{{ form_widget(form.nombre) }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
