{% extends 'base.html.twig' %}

{% block title %}Edit UserEdificios{% endblock %}

{% block body %}
    <h1>Edit UserEdificios</h1>

    {{ include('user_edificios/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_edificios_index') }}">back to list</a>

    {{ include('user_edificios/_delete_form.html.twig') }}
{% endblock %}
