<form method="post" action="{{ path('ocupacion_delete', {'id': id}) }}" onsubmit="return confirm('¿Borrar Ocupación?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <a class="mx-3" href="#" onclick="$(this).closest('form').submit()" style="color: red;"><i class="far fa-trash-alt"></i></a>
</form>
