<form method="post" action="{{ path('ocupacion_delete', {'id': ocupacion.id}) }}" onsubmit="return confirm('¿Borrar Ocupación?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ocupacion.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
