<div class="modal fade" id="newOcup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newOcup" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newOcupLabel">Nueva Ocupación</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="new-result">			
               
			</div>
			<div class="modal-footer">
            	
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editOcup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editOcup" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editOcupLabel">Editar Ocupación</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="edit-result">			
               
			</div>
			<div class="modal-footer">
            	
			</div>
		</div>
	</div>
</div>