{% extends 'base.html.twig' %}

{% block title %}Editar Ocupación
{% endblock %}
{% block cardheader %}
	<div class="col-sm-11">
		<h5>Editar Ocupación</h5>
	</div>
	<div class="col-sm-1">
         {{ include('ocupacion/_delete_form.html.twig') }}
	</div>
{% endblock %}
{% block cardbody %}
	{{ include('ocupacion/_form.html.twig') }}  {# {'button_label': 'Update'} #}
    <a href="{{ path('ocupacion_index', {dia: ocupacion.fecha|date('Y-m-d')}) }}" class="btn btn-sm btn-outline-secondary" role="button">volver</a>
{% endblock %}
