{% extends 'base.html.twig' %}

{% block title %}Nueva Ocupación{% endblock %}

{% block body %}
    <h1>Agregar Ocupación</h1>

    {{ include('ocupacion/_form.html.twig') }}

    <a href="{{ path('ocupacion_index') }}">volver</a>
{% endblock %}
