<form method="post" action="{{ path('aulas_delete', {'id': aula.id}) }}" onsubmit="return confirm('¿Borrar Aula?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aula.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
