{% extends 'base.html.twig' %}

{% block title %}Editar Aula{% endblock %}
{% block cardheader %}
	<div class="col-sm-11">
		<h5>Editar Aula</h5>
	</div>
	<div class="col-sm-1">
         {{ include('aulas/_delete_form.html.twig') }}
	</div>
{% endblock %}

{% block cardbody %}
    {{ include('aulas/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('aulas_index') }}" class="btn btn-sm btn-outline-secondary" role="button">volver</a>
{% endblock %}
