{% extends 'base.html.twig' %}

{% block title %}New Aulas{% endblock %}

{% block body %}
    <h1>Create new Aulas</h1>

    {{ include('aulas/_form.html.twig') }}

    <a href="{{ path('aulas_index') }}">back to list</a>
{% endblock %}
