<form method="post" action="{{ path('edificios_delete', {'id': edificio.id}) }}" onsubmit="return confirm('¿Borrar Edificio?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ edificio.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
