<div class="container">
{{ form_start(form) }}
    {{ form_row(form.edificio) }}
    {{ form_row(form.Sede) }}
    <button type="submit" class="btn btn-primary">Guardar</button>
{{ form_end(form) }}
{# , {'render_rest': false} #}
</div>
