{% extends 'base.html.twig' %}

{% block title %}Editar Edificio{% endblock %}
{% block cardheader %}
	<div class="col-sm-11">
		<h5>Editar Edificio</h5>
	</div>
	<div class="col-sm-1">
         {{ include('edificios/_delete_form.html.twig') }}
	</div>
{% endblock %}
{% block cardbody %}
    {{ include('edificios/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('edificios_index') }}" class="btn btn-sm btn-outline-secondary" role="button">volver</a>
{% endblock %}
