{% extends 'base.html.twig' %}

{% block title %}New Edificios{% endblock %}

{% block body %}
    <h1>Create new Edificios</h1>

    {{ include('edificios/_form.html.twig') }}

    <a href="{{ path('edificios_index') }}">back to list</a>
{% endblock %}
