/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-size: small;
} */

body{
    font-family: 'gandhi_sansregular'!important;
    /* font-size: small!important; */
}

.table tr {
    border-bottom: 0.5px solid lightgray;
}

.text-verdelogo {
    color: #047835 !important;
}

.carousel {
    margin: auto;
}
.carousel-inner img {
    margin: auto;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}



/* verde logo fcvs: #047835 */