{% extends 'base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block body %}
    <h1>Nuevo Usuario</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">volver</a>
{% endblock %}
